	<div class="row">
          <h2>About the Library </h2>
          <p>Welcome Message from the Librarian of Congress

    The Library of Congress is the nation’s first established cultural institution and the largest library in the world, with millions of items including books, recordings, photographs, maps and manuscripts in its collections.

    The Library provides Congress, the federal government and the American people with a rich, diverse and enduring source of knowledge to inform, inspire and engage them and support their intellectual and creative endeavors.

    As the Acting Librarian of Congress, I welcome you to this vast online treasure trove of materials and services. Whether you wish to explore the collections online, seek legislative information, register a copyright, access programs or plan a visit, I am glad you are here and invite you to return often.

    Sincerely,
    David S. Mao
    Acting Librarian of Congress
</p>
	</div>