<div class="row">
	<div class="col-lg-4">
	<!--title-->
	<h3>更改密碼</h3>
		</br></br>
		<!--description-->
		舊的密碼：<input type ="password" class="form-control"
		ng-model ="oldPassword"></input>
		新的密碼：<input type ="password" class="form-control" 
		ng-model ="changePassword"></input>
		再一次新的密碼：<input type ="password" class="form-control" 
		ng-model="doubleChangePassword"></input>
		<button class="btn1" type="button" ng-click="confirm()">確定</button>
		<button class="btn1" type="button" ng-click="clear()">取消</button>
	</div>
</div>