
  <div class="row">
        <div class="col-lg-4">
            <img id="500" class="img-circle" src="../../image/image1.jpg" alt="Generic placeholder image" width="140" height="140"></img>
            <h2>NEW : 異鄉人</h2>
            <p>《異鄉人》為諾貝爾文學獎得主阿爾貝·卡繆1957年得獎作品。1942年發行，暢銷且影響深遠，為二十世紀著名小說。卡謬藉此作表達人是存在於孤立疏離之間以及生活的荒謬性。</p>
            <p><button class="btn btn-default" ng-click="href(77)" type="button">View details</button></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../../image/image2.jpg" alt="Generic placeholder image" width="140" height="140"></img>
            <h2>NEW : 媽媽說不行</h2>
            <p>當媽媽說不行時，到底是與心底的惡魔決鬥，還是與現實的突破？</p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../../image/image3.jpg" alt="Generic placeholder image" width="140" height="140"></img>
            <h2>NEW : 心動的力量</h2>
            <p>當沉默與感恫嚇和，再也忍受不住的狂派在心中燃燒</p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->