  <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../../image/image1.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>NEW : 異鄉人</h2>
          <p>《異鄉人》為諾貝爾文學獎得主阿爾貝·卡繆1957年得獎作品。1942年發行，暢銷且影響深遠，為二十世紀著名小說。卡謬藉此作表達人是存在於孤立疏離之間以及生活的荒謬性。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../../image/image2.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>NEW : 媽媽說不行</h2>
          <p>當媽媽說不行時，到底是與心底的惡魔決鬥，還是與現實的突破？</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../../image/image3.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>無聊的魅力</h2>
          <p>　風景不在別處，而在你的心中。
　　閱讀狄波頓，俯拾皆是美，逃脫僵化的界線，撫慰疲憊的心靈。
　　究竟，悲傷何以成為快樂？浪漫愛情為何弔詭？
　　如何創造工作樂趣？怎麼面對真實自我？為什麼在機場漫步能化解沮喪或無聊？</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      	<!--從此開始換業-->
      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p>北科資料庫小組工作室</p>
        <p>楊雅婷 陳約銘 蔡薇妮 梁桂花</p>
      </footer>

    </div>